.advantage-row {
    margin-top: -24px;
    margin-bottom: -24px;
}

.advantages.container-fluid {
    background-color:#363A4D;
    //width: 1820px;
   //height: 725px;
   padding-top: 90px;
   padding-bottom: 112px;
  
}

.template-title {
    text-align: center;
    position: relative;
    padding: 18px;
    margin-bottom: 50px;

    h2 {
       
      
        line-height: 124.5%;
        text-transform: uppercase;
        margin-bottom: 6px;
    }
    h3 {
        font-weight: 300;
        font-size: 24px;
        line-height: 1.25;
    }
    &::after{
        content: "";
        position: absolute;
        left: 50%;
        top: calc(100% - 2px);
        transform: translate( -50%, 0);
        width: 85px;
        height: 2px;
        background-color: $color-primary;
    }
}

.advantage {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 24px auto;
    max-width: 263px;
    padding: 0 12px;

    &-img-box {
        
        width: 93px;
        height: 93px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $color-secondary;
        border-radius: 50%;
        margin: 10px auto 32px;
        position: relative;
        padding: 15px;

        &:before {
            content: "";
            border: 1px solid #6C7188;
            display: inline-block;
            width: 113px;
            height: 113px;
            position: absolute;
            left: -10px;
            top: -10px;
            border-radius: 50%;
        }
    }

    .advantage-img {
        max-width: 100%;
    }
}
#advantages-slider {
    .slick-dots {
        padding: 0;
        margin-top: 48px;
        display: flex;
        position: row;
        align-items: center;
        justify-content: center; 
        list-style-type: none; 
         
   }
      button {
        border: 2px solid white;
        border-radius: 90px;
        transition: 0.9;
        width: 8px;
        height: 8px;
      }
      
      .slick-active button {
        background: white;
      }
}




