.first-screen-container {
  position: relative;
  

.first-screen {
    display: flex;
    @extend section;
    position: relative;
    margin-bottom: 96px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 39px;
   
  
    &-title {
    @extend h1; 
    margin-bottom: 8px;
   // max-width: 463px;
    //min-width: 500px;
    text-transform: uppercase;
    line-height: 126%; /* 70.56px */
    margin: 0 auto 10px;
   

    }

   &-subtitle {
    margin-bottom: 37px;
    max-width: 345px;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 135.5%;  
    text-align: left;
    }
  
     .first-screen-item {
    display: flex;
    min-height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding: 0 92px 64px;
    max-width: calc(100% - 84px);
    }

    &.container {
    margin-top: 163px;
    margin-bottom: 228px;
    margin-left: 340px;
    padding-left: 0px;
    width: 1170px;
    display: flex;
    //position: relative;
  }



}

  .first-screen-nav {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    width: calc(100% - 180px);
    max-width: 1471px;
    height: 0;


      .slick-arrow  {
        display: flex;
        position: relative;
        transform: translate(0, -50%);
        border: none;
        background: center no-repeat transparent;
        //background-image: url(assets/img/arrow-3.svg);
        z-index: 1;
        width: 46px;
        height: 46px;
         // &:hover {
          // background-image: url(assets/img/arrow-1.svg); 
         // }

          

          &.slick-prev {
            background-image: url(assets/img/arrow-1.svg); 
              //transform: rotate(180deg) translate(0, 50%);
             &::before {
              display: none;
             }
             &:hover {
              background-image: url(assets/img/arrow-2.svg); 
             }
        }
          &.slick-next {
              background-image: url(assets/img/arrow-3.svg); 
            &::before {
              content: "";
             } 
             &:hover {
              background-image: url(assets/img/arrow-4.svg); 
             } 
        }
      }
    }

  
  
.slick-dots {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 43px;
  width: 150px;
     & li {
      display: flex;
      height: 8px;
      position: relative;
      flex-shrink: 0;
      border: 2px solid white;
      border-radius: 90px;
      transition: 0.9;
      width: 8px;
      height: 8px;
      margin: 13px;
      &::before {
        display: none;
      }
       &.slick-active {
      background: white;
      }

}
}
}






  













  

  
   






