header {

    background-color:#363A4D;
    
    .navbar {
        padding: 25px 0 39px;

        &-nav {
            max-width: 618px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 3px auto 0;
        }

        .btn {
            padding: 13px 26px;
            letter-spacing: 0px;
        }

        .btn-8 {
            background-color:$color-primary;
        }
    }

    .nav-link {
        color: #fff;
        line-height: 146%;

        /* 23.36px */
        &:hover {
            color: $color-secondary;
        }
    }
 

}



.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #fff;
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
    background-color: #fff;
}
