

#projekt {
  background-color:#282B38;
}


 .container-row {
  background-color:#363A4D;
  color: white;
    
}


 .title-colors, .title-fonts, .title-font-family, .title-list-1, .title-list-2, .title-text, .title-scroll, .title-button, .title-checkbox, .title-titles, .title-titles-style, .title-fancybox {
  border: 2px solid $color-secondary;
  border-radius: 10px;
  background-color: $color-primary;
  padding: 15px 25px;
  margin: 15px;
  margin-left: 35px;
  text-align: center;
  font-size: 20px;
}

 .title-fonts, .title-list-1, .title-text, .title-button, .title-titles,.title-fancybox {
  border: 2px solid $color-primary;
  background-color: $color-secondary;
}



 .color {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-radius: 5px;
  margin: 7px;
  padding: 45px;
}
.color-1 {
  background-color: $color-primary;
}
.color-2 {
  background-color: $color-secondary;
}
.color-3 {
  background-color: $color-third;
}
.color-4 {
  background-color: $color-fours;
}

.list-1 li,
.list-2 li {
  padding: 5px;  
}


.text::selection {
  color: white;
  background: $color-secondary;
  }

.scroll-1 {
  max-height: 300px;
  overflow-y:scroll;
}

.scroll::-webkit-scrollbar {
	margin: 8px;
	width: 8px;
	border-radius: 5px;
	&-track {
	  border-radius: 5px;
	  background-color: #fff;
	  cursor: pointer;
	}
	&-thumb {
	  background-color: $color-secondary;
	  border-radius: 20px;
	}
}






.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
}

.btn.btn-1,
.btn.btn-2, 
.btn.btn-3,
.btn.btn-4, 
.btn.btn-5,
.btn.btn-6 {
  display: inline-block;
  text-align: center;
  flex-shrink: 0;
  border-radius: 90px;
  background: $color-primary;
  font-family: Proxima Nova;
  color: #FFF;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 5px;
}

.btn.btn-1 {
  width: 310px;
  height: 68px;
  font-size: 16px;
  line-height: 146%; /* 23.36px */
}
.btn.btn-2 { 
  width: 293px;
  height: 68px;
  font-size: 16px;
  line-height: 146%; /* 23.36px */
 }

 .btn.btn-3 {
  width: 253px;
  height: 68px;
  font-size: 16px;
  line-height: 146%; /* 23.36px */
 }

 .btn.bnt-4 {
  width: 243px;
  height: 68px;
  font-size: 16px;
  line-height: 146%; /* 23.36px */
 }

 .btn.btn-5 {
  width: 171px;
  height: 50px;
  font-size: 15px;
  line-height: 146%; /* 21.9px */
 }

 .btn.btn-6 {
  width: 153px;
  height: 50px;
  font-size: 15px;
  line-height: 146%; /* 21.9px */
 }

 .btn.btn-7 {
  width: 153px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 90px;
  border: 1px solid $color-primary;
  background-color: #363A4D;
  color: #FFF;
  text-align: center;
  font-family: Proxima Nova;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 146%; /* 21.9px */
}

.btn img {
  display: inline-block;
  padding-left: 49px;
}


 icon {
  margin: auto;
  width: 27px;
  height: 27px;
  flex-shrink: 0;   
 }
 

 h1, h2, h3, h4, h5, h6 {
  color: #FFF;
  font-family: Proxima Nova;
  font-weight: 700;
  font-style: normal;
  font-weight: 700;
 }

 h1 {
  font-size: 56px;
  line-height: 126%; /* 70.56px */
 }

 h2 {
  font-size: 36px;
  line-height: 124.5%; /* 44.82px */
 }

 h3 {
  font-size: 24px;
  line-height: 126%;
  }
  
  h4 {
  font-size: 20px;
  line-height: 146%;
  }
  
  h5 {
  font-size: 18px;
  line-height: 124.5%;
  }
  
  h6 {
  font-size: 18px;
  font-weight: 400;
  line-height: 124.5%;
  }




.input-box-1 {
  display: flex;
  position: relative;
  margin-bottom: 16px;
}

.form-check-input[type=checkbox] {
  display: none;
}

.form-check-input[type=checkbox] + label {
  cursor: pointer;
  margin-left: 40px;
}


.form-check-input[type=checkbox] + label:before, 
.form-check-input[type=checkbox]:checked + label:before {
  content: "";
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  border-radius: 4px;
  border: 1px solid $color-third;
  background: url(assets/img/rectangle.svg) center no-repeat #fff;
}

.form-check-input[type=checkbox]:checked + label:before {
  background: url(assets/img/checked-2.svg) center no-repeat  #fff;
}



.screen {
  margin: 5px;
}

